
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto Condensed", sans-serif;
}

h2{ 
    color: #DEA6A5;
}

li {
    float: left;
}

a{
    display: block;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: #DEA6A5;
}

li{ 
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: black;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li a:hover{
    color: #dbe2dd
}

h2{
    text-align: center;
}

h1{
    text-align: center;
    color: #DEA6A5; 
}

body{
    background-color: rgb(239, 227, 241);
}

img {
    border: 5px solid #393636;
    border-radius: 10px;
  }

footer{
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(35, 31, 31);
    color: white;
    text-align: left;
}
  
